* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.background-White {
  background-color: rgba(34, 32, 32, 0.959);
  box-shadow: 0px 0px 10px #2b2349;
}

.center {
  text-align: center;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Xvq_S-W4Ep0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
body {
  background-image: linear-gradient(-225deg, #a87d9b 0%, #bb97b0 30%, #e0c3d8 70%);
  font-family: "Roboto Mono";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerr {
  box-shadow: 0px 0px 10px 5px #000000;
  width: 100%;
  background-image: linear-gradient(#7ea7ae 10%, #aed4da 90%);
}

.menu-acordion {
  background: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0.2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo - nav";
  width: 100%;
  height: 80px;
  padding: 1rem;
  color: whitesmoke;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 2;
}
.header nav {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  grid-area: nav;
}
.header nav .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  margin-top: -1.5rem;
}

.menu-item {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.menu-item:hover {
  color: #934f89;
}

.nav-li {
  list-style: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
}
.nav-li .nav-item {
  font-weight: bold;
  font-size: 0.82rem;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(241, 237, 237);
  cursor: pointer;
  padding: 7px;
  margin: 0 0.6rem;
  transition: 0.2s;
  text-shadow: 0 0 1px rgb(58, 57, 57);
}
.nav-li .nav-item:hover {
  color: rgb(241, 237, 237);
}
.nav-li:hover {
  transform: scale(1.09);
}
.nav-li:hover::after {
  opacity: 1;
  transition: 0.4s;
  width: 50%;
}
.nav-li::after {
  content: "";
  width: 0%;
  border: solid 1px #d35d7b;
  opacity: 0;
  margin: auto;
  display: block;
  transition: 0.4s;
}

.signup,
.cart {
  display: flex;
  align-items: center;
}

.cart {
  margin-left: 0;
}

.signup-img,
.cart-img {
  height: 2.5rem;
  text-decoration: none;
  list-style: none;
}

.fondo {
  background-image: url(../imagenes/fondo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.section {
  min-width: 40%;
  height: 60%;
  padding: 1rem;
  width: 50%;
  margin: auto 10%;
  transition: 1s;
  border-radius: 4px;
  border: inset 1px rgb(179, 179, 179);
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0px 1px 1px black;
  contain: content;
  box-shadow: 0 10px 30px #723c56;
  border: 1px rgba(255, 255, 255, 0.2509803922);
  background-color: rgba(255, 255, 255, 0.8);
}

.ilustration-svg {
  width: 300px;
}

#carouselExampleDark {
  width: 90%;
  margin: 0 auto;
}
#carouselExampleDark .carousel-inner {
  background: rgba(101, 84, 84, 0.801);
  padding: 0.5rem;
  border-radius: 5px;
}
#carouselExampleDark .carousel-inner div {
  border-radius: 5px;
  padding: 0.5rem;
  background: rgba(213, 213, 216, 0);
}
#carouselExampleDark .carousel-inner div img {
  object-fit: cover;
  height: 60vh;
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
}
#carouselExampleDark .carousel-inner div div {
  background: rgba(66, 65, 65, 0.8588235294);
}

.carousel-control-prev,
.carousel-control-next {
  padding: 1rem;
}

.section-card {
  width: 80%;
  color: #000 !important;
}

.card-title-prim {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: inherit;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 1px rgb(168, 161, 161);
  color: #000;
}

.card-title-sec {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-shadow: 1px 2px 10px black;
}

.card-parrafo-prim {
  font-size: 1rem;
  color: #000;
  width: 100%;
}

.main-index {
  width: 100%;
  color: white;
}

.container-article {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.article {
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 2rem;
  color: rgb(56, 56, 56);
  border: outset 1px #d92096;
  border-radius: 3px;
  box-shadow: 0 10px 30px #000;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  background-color: rgba(101, 84, 84, 0.801);
}

.article-title {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  margin: 0.2rem 0 2rem 0;
  color: rgb(255, 255, 255);
  background: #823d48;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.article-section {
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "jirafe simio" "jirafe pirata";
}

.contain-img {
  height: 16rem;
  width: 12rem;
  background-size: contain;
  justify-self: center;
  display: flex;
  align-self: center;
  margin: 0;
}

.img {
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: 0.2s;
}
.img:hover {
  transform: scale(1.01);
}

.jirafe {
  height: auto;
  width: 25rem;
  grid-area: jirafe;
}

.simio {
  grid-area: simio;
}

.pirata {
  grid-area: pirata;
}

.article-index {
  width: 100%;
  height: 100%;
  background-image: url(https://images3.alphacoders.com/105/thumb-1920-105379.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hijo-article-index {
  width: 100%;
  height: 100%;
  background: rgba(250, 214, 214, 0.662745098);
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-grid-card {
  margin: 0 auto;
}
.container-grid-card .article-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  padding: 2rem;
  transition: ease 1s;
  gap: 1rem;
  row-gap: 2rem;
  text-decoration: none;
  font-style: none;
  box-shadow: 0 10px 30px #000;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  background-color: rgba(101, 84, 84, 0.801);
  border-radius: 5px;
  width: 89%;
}

.img-grid {
  height: 200px;
  width: 150px;
  border-radius: 7px;
  margin-bottom: 4px;
}

.card-grid {
  height: 200px;
  transition: 0.2s;
  text-decoration: none;
  margin: 0.5rem auto;
  transition: 0.5s ease;
}
.card-grid:hover .img-grid {
  transform: scale(1.01);
}

.card-title-div {
  background-color: white;
  color: #150d3b;
  text-decoration: none;
  font-style: none;
  text-align: center;
  padding: 3px;
  font-size: 100%;
  font-weight: bold;
}

.card-title-sec {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-shadow: 1px 2px 10px black;
}

.fondoTotal {
  background: rgb(162, 162, 162);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.card {
  background-color: #234349;
  color: white;
  border: none;
}
.card .card-body {
  display: block;
  justify-content: center;
  align-items: center;
}
.card .card-body a:hover {
  background: #61325a;
}

.article-white {
  background-color: rgba(212, 207, 208, 0.9294117647);
}

.btn-group {
  display: none;
}

.btn, .btn-primary {
  background: #934f89;
  border: none;
  margin: 0 auto;
}

.btn, .btn-primary:hover {
  background: #61325a;
}

.form {
  width: 60%;
  margin: 0 auto 3rem auto;
  padding: 2rem;
  background: #e9e8e8;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: 0 10px 9px #3d1c2c;
}

.form-section {
  padding: 1.3rem;
}

.form-button-div {
  display: flex;
  justify-content: center;
}

.form-button {
  padding: 1rem;
  width: 10rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.form-button:hover {
  background-color: #d35d7b;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-weight: bold;
}

.nosotros-container {
  color: white;
  width: 95%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url(https://images.alphacoders.com/121/thumb-1920-1218911.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.nosotros-title {
  color: white;
  padding: 3rem 0 1rem 0;
  text-shadow: 1px 1px 1px black;
}

.nosotros-section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
  box-shadow: 0 10px 30px #000;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  background-color: rgba(134, 122, 122, 0.267);
}

.nosotros-parrafo,
.nosotros-img-div {
  margin: 1rem;
}

.parrafo {
  line-height: 2.5rem;
}

.nosotros-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-img {
  width: 100%;
  height: 50%;
}

.nosotros-img-map {
  width: 100%;
}

.nosotros-parrafo {
  background-color: whitesmoke;
  color: rgb(29, 28, 28);
  padding: 5px;
  font-weight: 800;
  border-radius: 10px;
}

.article-section-explorer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-form {
  border-radius: 5px;
}

.footer {
  height: auto;
  grid-template-columns: 1fr;
  color: white;
  text-shadow: 1px 1px black;
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
  padding: 0.5rem;
  margin-top: 0.1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.footer h3 {
  font-size: 2rem;
}
.footer .icons-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
.footer .icons-container li {
  list-style: none;
}
.footer .icons-container li img {
  height: 4rem;
}
.footer .icons-container li img:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-info h4 {
  font-size: 15px;
  margin: 0;
}

.footer-privacy,
.footer-polit {
  color: white;
  text-decoration: none;
}

.footer-privacy {
  padding: 5px;
  background: #934f89;
  border-radius: 4px;
}

.footer-privacy:hover {
  background: #61325a;
  color: white;
}

.footer-title {
  letter-spacing: 0.5rem;
  font-weight: bold;
  padding-bottom: 5px;
}

/* @media */
@media (max-width: 946px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .header .nav-li {
    padding: 0;
  }

  .section-card {
    height: auto;
  }

  .logo-title {
    display: none;
  }

  .footer {
    gap: 1rem;
  }

  .logo-img {
    width: 200px;
  }

  .article {
    width: 94%;
  }

  .nosotros-section {
    display: block;
    padding: 0.5rem;
  }
  .nosotros-section .nosotros-parrafo {
    text-align: center;
    margin: 0;
  }

  .nosotros-img-map {
    height: 50%;
  }

  .nosotros-img-map,
.section,
.article-section {
    width: 100%;
  }
}
@media (max-width: 776px) {
  .article-section {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "jirafe jirafe" "jirafe jirafe" "pirata simio";
    gap: 1rem;
  }

  .article-section-explorer {
    display: block;
    width: auto;
    width: 70%;
  }

  .card {
    margin: 1rem 0;
  }

  .contain-img {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }

  .img {
    width: 70%;
  }

  .contain-img {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .form .btn-primary {
    display: flex;
    justify-content: center;
  }

  .btn-group {
    display: block;
  }

  .nav-li {
    display: block;
    text-decoration: none;
  }

  .form {
    width: 90%;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .REGISTRARSE,
.CART,
.EXPLORER {
    display: none;
  }

  .dropdown-menu .EXPLORER,
.dropdown-menu .REGISTRARSE {
    display: block;
    margin: 5px 0;
  }

  .menu-item {
    text-decoration: none;
  }

  .main-index {
    padding: 0;
  }

  .article {
    width: 100%;
  }

  .section {
    margin: 0;
    padding: 1rem;
  }

  .fondo {
    contain: content;
  }
}
@media (max-width: 490px) {
  .footer-anio {
    display: none;
  }

  .footer-info {
    justify-content: center !important;
  }

  .container-grid-card {
    width: 100%;
  }

  .EXPLORER,
.HOME,
.SIGN,
.CART {
    display: none;
  }

  .dropdown-menu .SIGN {
    display: block;
  }

  body {
    padding: 2px;
  }

  .article-section {
    padding: 0;
  }

  .article-title,
.nosotros-title,
.nosotros-container {
    padding: 0;
  }
}

/*# sourceMappingURL=destino.css.map */
