.boton-twitter {
  background-color: blues; }

.boton-facebok {
  background-color: lightblue; }

.boton-mail {
  background-color: blue; }

.boton-instagram {
  background-color: red; }

.boton-snapchat {
  background-color: yellow; }
