$blanco:#ffff;
$fondoCards: #234349;

.fondoTotal {
    background:rgb(162, 162, 162);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: fixed
}

.card {
    background-color: $fondoCards;
    color: $blanco;
    border: none;
        .card-body {
            display: block;
            justify-content: center;
            align-items: center;               
                a:hover {
                    background: #61325a;
                }       
        }
}

.article-white {
    background-color: #632336ed;
}

.btn-group {
    display: none;
}
.btn, .btn-primary{
        background: #934f89;
        border: none;
        margin: 0 auto;
}
.btn, .btn-primary:hover{
    background: #61325a;
}