$blanco:#ffff;
$fondoCards: #234349;

.card {
    background-color: $fondoCards;
    color: $blanco;
    border: none;
}

.btn-primary {
    background: #934f89;
    border: none;
}

.btn-primary:hover {
    background: #61325a;
}

.card-body {
    display: block;
    justify-content: center;
    align-items: center;
}

.btn, .btn-primary {
    margin: 0 auto;
}

.btn-group {
    display: none;
}