$blanco:#ffff;
$fondoCards: #234349;

.card {
    background-color: $fondoCards;
    color: $blanco;
    border: none;
        .card-body {
            display: block;
            justify-content: center;
            align-items: center;
                a {
                    background: #934f89;
                    border: none;
                    margin: 0 auto;
                }
                
                a:hover {
                    background: #61325a;
                }
        }
}

.btn-group {
    display: none;
}