* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.grid{
    display:grid;}

.background-White  {
    background-color: rgba(34, 32, 32, 0.959);
    box-shadow: 0px 0px 10px #2b2349;}

.center {
    text-align: center;}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Xvq_S-W4Ep0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}

body {
    background-image: linear-gradient(#33666f 10%,   #65858a  90%); 
    font-family: 'Roboto Mono';
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem}

.containerr{
    box-shadow: 0px 0px 10px 5px #2b2349;
    border-radius: 10px;
    width:100%;
    background-image: linear-gradient(#7ea7ae 10%,   #aed4da  90%);}

.fondo {
    background-image: url(../imagenes/fondo-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:90vh;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    margin:0 auto}
.fondoTotal{
    background-image: url(../imagenes/fondo-explorer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
    width: 100%;
    background-attachment:fixed}
.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo - nav";
    width: 100%;
    height: 80px;
    padding:1rem;
    color: whitesmoke;
    align-items: center;
    top:0;
    position:sticky;
    z-index: 2;}

.nav {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area:nav;}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;}
.logo{
    margin-top:-1.5rem;}

.nav-li {
    list-style: none;
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;}

.nav-item {
    font-weight: bold;
    font-size: 0.82rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(241, 237, 237);
    cursor: pointer;
    padding: 7px;
    margin: 0 0.6rem;
    transition: 0.2s;
    text-shadow: 0 0 1px rgb(58, 57, 57);}

.nav-item:hover{
    color: rgb(241, 237, 237);}

.nav-li::after{
    content:'';
    width: 0%;
    border: solid 1px #7cd7e3;
    opacity: 0;
    margin: auto;
    display: block;
    transition: 0.4s;}
.nav-li:hover::after{
    opacity: 1;
    transition: 0.4s;
    width: 50%;}
.nav-li:hover{
    transform: scale(1.09);}

.signup,
.cart {
    display: flex;
    align-items: center;}

.cart {
    margin-left: 0;}

.signup-img,
.cart-img {
    height: 2.5rem;
    text-decoration: none;
    list-style: none;}