/* @media */
@media (max-width:946px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .nav-li {
            padding: 0;
        }
    }

    .section-card {
        height: auto;
    }

    .logo-title {
        display: none;
    }
    .footer{
        gap:1rem;
    }

    .logo-img {
        width: 200px;
    }

    .article {
        width: 94%;
    }

    .nosotros-section {
        display: block;
        padding: 0.5rem;
        .nosotros-parrafo {
            text-align: center;
            margin: 0;
        }
    }


    .nosotros-img-map {
        height: 50%;
    }

    .nosotros-img-map, 
    .section,
    .article-section, 
    .article-grid, 
    .container-grid-card  {
        width: 100%;
    }
}


@media (max-width:776px) {
    .article-section {
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "jirafe jirafe"
            "jirafe jirafe"
            "pirata simio";
        gap: 1rem;
    }

    .article-grid {
        grid-template-columns: 1fr 1fr;
    }

    .article-section-explorer {
        display: block;
        width: auto;
        width: 70%;
    }

    .card {
        margin: 1rem 0;
    }

    .contain-img {
        margin: 1rem auto;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 70%;
    }
    .contain-img{
        width:100%;
    }

}

@media (max-width:660px) {
    .form .btn-primary {
        display: flex;
        justify-content: center;
    }

    .btn-group {
        display: block;
    }

    .nav-li {
        display: block;
        text-decoration: none;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .REGISTRARSE,
    .CART,
    .EXPLORER {
        display: none;
    }

    .dropdown-menu .EXPLORER,
    .dropdown-menu .REGISTRARSE {
        display: block;
        margin: 5px 0;
    }

    .menu-item {
        text-decoration: none;

    }

    .main-index {
        padding: 0;
    }

    .article{
        width: 100%;
    }

    .article-grid {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .section {
        margin: 0;
        padding: 1rem;
    }

    .fondo {
        contain: content;
    }
}

@media (max-width:490px) {
    .article-grid {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

    }
    .footer-anio{
        display:none;
    }
    .footer-info{
        justify-content: center !important;
    }


    .EXPLORER,
    .HOME,
    .SIGN,
    .CART {
        display: none;
    }

    .dropdown-menu .SIGN {
        display: block;
    }

    body {
        padding: 2px;
    }

    .article-section {
        padding: 0;
    }

    .img,
    .article-grid,
    .jirafe {
        width: 100%;
    }

    .article-title,
    .nosotros-title,
    .article-grid,
    .nosotros-container {
        padding: 0;
    }
}