/* @media */
@media (max-width:946px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .nav-li {
            padding: 0;
        }
    }

    .section-card {
        height: auto;
    }

    .logo-title {
        display: none;
    }

    .footer {
        gap: 1rem;
    }

    .logo-img {
        width: 200px;
    }

    .article {
        width: 94%;
    }

    .nosotros-img-map,
    .section {
        width: 100%;
    }


    .nosotros-section {
        display: block;
        padding: 0.5rem;

        .nosotros-parrafo {
            text-align: center;
            margin: 0;
        }
    }

    .nosotros-img-map {
        height: 50%;
    }

}


@media (max-width:776px) {
    .article-section-explorer {
        display: block;
        width: 70%;
    }

    .card {
        margin: 1rem 0;
    }

    .contain-img {
        margin: 1rem auto;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .img {
        width: 70%;
    }
}


@media (max-width:660px) {
    .form .btn-primary {
        display: flex;
        justify-content: center;
    }

    .btn-group,
    .nav-li {
        display: block;
    }

    .nav-li {
        text-decoration: none;
    }

    .form {
        width: 90%;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .REGISTRARSE,
    .CART,
    .EXPLORER,
    .dropdown-menu .HOME {
        display: none;
    }

    .dropdown-menu .EXPLORER,
    .dropdown-menu .REGISTRARSE {
        display: block;
        margin: 5px 0;
    }

    .menu-item {
        text-decoration: none;
    }

    .main-index {
        padding: 0;
    }

    .article {
        width: 100%;
    }

    .section {
        margin: 0;
        padding: 1rem;
    }

    .fondo {
        contain: content;
    }
}

@media (max-width:490px) {
    .footer-info {
        justify-content: center !important;
    }

    .container-grid-card {
        width: 100%;
    }

    .EXPLORER,
    .HOME,
    .SIGN,
    .CART,
    .footer-anio {
        display: none;
    }

    .dropdown-menu .SIGN,
    .dropdown-menu .HOME {
        display: block;
    }

    body {
        padding: 2px;
    }

    .article-title,
    .nosotros-title,
    .nosotros-container,
    .article-section {
        padding: 0;
    }
}