 $color-primary: #a77c9a;
 
@mixin sizesPadding($width, $height, $padding){
    width: $width;
    height: $height;
    padding: $padding;
}

 @import 'header';
 
 @import 'index';
 @import 'nosotros';
 @import 'explorer';
 @import 'contacto';
 @import 'sesion';
 
 @import 'footer';

 @import 'mediaqueries';